<%= form_with(model: message) do |form| %>

  <% if message.errors.any? %>
    <%= pluralize(message.errors.count, "error") %> prohibited this message from being saved
    <% message.errors.each do |error| %>
      <p><%= error.full_message %></p>
    <% end %>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :views, style: "display: block" %>
    <%= form.number_field :views %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
