<%= form_with(model: experience) do |form| %>

  <% if experience.errors.any? %>
    <%= pluralize(experience.errors.count, "error") %> prohibited this experience from being saved
    <% experience.errors.each do |error| %>
      <p><%= error.full_message %></p>
    <% end %>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :overview, style: "display: block" %>
    <%= form.text_area :overview %>
  </div>

  <div>
    <%= form.label :cpe, style: "display: block" %>
    <%= form.number_field :cpe %>
  </div>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
