<nav class="navbar navbar-expand-lg bg-secondary bg-gradient">
  <div class="container-fluid">
    <a class="navbar-brand me-5" href="/">Web Resume</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ms-5" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link"        href="<%= resume_path %>"           data-turbo-action="replace">Резюме</a></li>
        <li class="nav-item"><a class="nav-link"        href="<%= letter_path %>"           data-turbo-action="replace">Сопроводительное письмо</a></li>
        <li class="nav-item"><a class="nav-link active" href="<%= projects_path %>"         data-turbo-action="replace">Пэт проекты</a></li>
        <li class="nav-item"><a class="nav-link active" href="<%= exercises_path %>"        data-turbo-action="replace">Учебные проекты</a></li>
        <li class="nav-item"><a class="nav-link active" href="<%= certificates_path %>"     data-turbo-action="replace">Сертификаты</a></li>
        <li class="nav-item"><a class="nav-link active" href="<%= experience_data_path %>"  data-turbo-action="replace">Опыт</a></li>
        <li class="nav-item"><a class="nav-link active" href="<%= timeline_path %>"         data-turbo-action="replace">Timeline graph</a></li>
      </ul>
    </div>
  </div>
</nav>
